*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  color: #fff;
  background: #208DC3;
}

#wrap{
  padding: 1em;
  display: flex;
  justify-content: center;
}

input{
  font-size: 1.125em;
  padding: 0.1em;
  border: 1px solid #fff;
  border-radius: 10px 10px;
  outline: none;
  margin-right: 1em;
}

button{
  font-size: 1.005em;
  padding: 0.2em;
  border: 1px solid #fff;
  border-radius: 10px 10px;
  outline: none;
  background: #3EBA2B;
}
